*
!gateway
!gateway/user-gateway
!gateway/user-gateway/go.mod
!gateway/user-gateway/go.sum
!gateway/user-gateway/cmd
!gateway/user-gateway/cmd/user-gateway
!gateway/user-gateway/cmd/user-gateway/main.go
!proto
!proto/go.mod
!proto/go.sum
!proto/user.pb.go
!proto/user_grpc.pb.go
!services
!services/user-service
!services/user-service/go.mod
!services/user-service/go.sum
!services/user-service/cmd
!services/user-service/cmd/user-service
!services/user-service/cmd/user-service/main.go
!services/user-service/internal
!services/user-service/internal/delivery
!services/user-service/internal/delivery/grpc
!services/user-service/internal/delivery/grpc/handler.go
!services/user-service/internal/domain
!services/user-service/internal/domain/user.go
!services/user-service/internal/repository
!services/user-service/internal/repository/nats.go
!services/user-service/internal/repository/postgres.go
!services/user-service/internal/repository/redis.go
!services/user-service/internal/repository/smtp.go
!services/user-service/internal/usecase
!services/user-service/internal/usecase/user.go
**/.gitkeep
